@using Microsoft.Owin.Security

@model string

@{
    ViewBag.Title = "LOG IN | SIGN UP";
}

<section class="section">
    <div class="header">
        <a href="@Url.Action("Index")" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            Login
        </h1>
    </div>
    <div class="content">
        @{ Html.RenderPartial("_LoginPartial", Model); }
    </div>
</section>