.fs-08em {
    font-size: 0.8em;
}
.fs-09em {
    font-size: 0.9em;
}

.fs-11em {
    font-size: 1.1em;
}

.fs-12em {
    font-size: 1.2em;
}

.fs-13em {
    font-size: 1.3em;
}

.fs-14em {
    font-size: 1.4em;
}

.fs-15em {
    font-size: 1.5em;
}

.fs-16em {
    font-size: 1.6em;
}
