.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.margin-top-10px {
    margin-top: 10px !important;
}
.margin-bottom-10px {
    margin-bottom: 10px !important;
}

.color-blue {
    color: blue !important;
}
.color-green {
    color: green !important;
}
.color-gold {
    color: gold !important;
}
.color-red {
    color: red !important;
}

.loaded {
    display: none;
}