.translating {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px darkgreen solid;
    padding: 10px;
    margin: 10px 0px;
    position: relative;
}

    .translating .textarea:focus {
        padding: 10px;
        font-size: 1.2em;
        border-radius: 5px;
    }

.modified .textarea {
    border-right: 1px dotted darkgreen;
    border-bottom: 1px dotted darkgreen;
}

.translating .translator {
    margin-top: 10px;
    border-radius: 10px;
}
.translating .translator li {
    margin-bottom: 10px;
}
.translating .switch {
    min-width: 100px;
}

    .translating .switch i {
        color: darkred;
        font-size: 1.3em;
        border-radius: 5px;
    }

    .translating .switch.selected i {
        color: darkgreen;
    }


#glossary {
    display: none;
    position: absolute;
    margin: 5% auto;
    left: 0;
    right: 0;
    background: lightslategray;
    min-width: 400px;
    max-width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0;
    z-index: 9999;
}
#glossary:before {
  display: inline-block;
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom-color: lightslategray;
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 999999;
}
#glossary.open {
    display: block;
    z-index: 9999;
}

#glossary .lookup {
    background: whitesmoke;
    border-radius: 5px;
}

table.wordprintresults
{
}	
table.wordprintresults > tbody > tr
{
	page-break-inside: avoid;
}
table.wordprintresults > tbody > tr > td
{
	padding-top: 0;
	padding-bottom: 1px;
	border-bottom: 1px solid #d0d0d0;
	page-break-inside: avoid;
    vertical-align: middle;
}
table.wordprintresults > tbody > tr > td.hanzi
{
	width: 110px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20pt;
}
table.wordprintresults > tbody > tr > td.pinyin
{
	width: 110px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11pt;
}
table.wordprintresults > tbody > tr > td.defs
{
	padding-left: 5px;
	padding-right: 0;
	font-size: 11pt;
}

.mpt1
{
	color: #ff0000	!important;
}
.mpt2
{
	color: #e89800	!important;
}
.mpt3
{
	color: #00a000	!important;
}
.mpt4
{
	color: #0000ff	!important;
}
.mpt5
{
	color: #000000	!important;
}
.mptd
{
	color: #808080	!important;
}
.brand
{
	text-align: right;
}