.read {
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 0;
}

    .read .fa {
        margin: 0;
    }

    .read.yes {
        color: green;
    }

        .read.yes .action {
            pointer-events: none;
        }

    .read.no {
        cursor: pointer;
    }

        .read.no:hover {
            color: green;
            font-size: 1.2em;
            transition: .2s ease-in-out;
            text-shadow: 0px 0px 5px rgba(155, 150, 150, 1);
        }

            .read.no:hover .fa:before {
                content: "\f00c";
            }

.reading-list {
    padding: 0;
}

    .reading-list .row-list {
        display: table;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px 10px;
        /*border-top: 1px solid #efefef;*/
        border-bottom: 1px dotted #efefef;
    }

    .reading-list .col-title {
        width: 15% !important;
        display: table-cell;
    }

    .reading-list .col-status {
        width: 20% !important;
        display: table-cell;
    }

    .reading-list .col-rating {
        width: 5% !important;
        display: table-cell;
    }
