@using System.Web.Mvc
@helper Unauthorized(string message = null, string header = null, bool showLogin = true)
{
    <section class="section">
        @if (!string.IsNullOrWhiteSpace(header))
        {
            <div class="header">
                <a href="javascript:history.go(-1);" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
                <h1 class="title">
                    @(new MvcHtmlString(header))
                </h1>
            </div>
        }
        <div class="content">
            <p class="alert alert-danger no-margin">
                @(new MvcHtmlString(message ?? "You must be logged in to access this page."))
                @if (showLogin)
                {
                    <a href="/account/loginmodal?ReturnUrl=@Request.RawUrl" data-modal='{}'>Click here to <i class="fa fa-sign-in"></i>login.</a>
                } 
            </p>
        </div>
    </section>
}
