@using Thi.Core
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="section">
    <div class="header">
        <a href="/" class="action left"><i class="fa fa-home"></i></a>
        <h1 class="title">
            Error
        </h1>
    </div>
    <div class="content">
        @Model.Exception.Message
    </div>
</section>
