.device {
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

    .device.desktop {
        width: 960px;

    }

    .device.mobile {
        width: 100%;
    }
