@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

* > [role="tooltip"] {
    display: none;
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

*:hover > [role="tooltip"], *:focus > [role="tooltip"] {
    display: block;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.mobile .form-group {
    margin-bottom: 5px;
}

    .mobile .form-group label[for] {
        width: 100%;
        display: none;
    }

    .mobile .form-group:hover label[for] {
        display: block;
    }


.detail-group {
    margin-bottom: 10px;
    width: 100%;
}

.desktop .detail-group > strong {
    display: table-cell;
    min-width: 200px;
}

.desktop .detail-group > div {
    display: table-cell;
    width: 100%;
}


.form-group {
    margin-bottom: 10px;
}


.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
    width: 100%;
	border-radius: 2em !important;
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
}
.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: url(/assets/img/search-dark.png) no-repeat 10px 6px #fcfcfc;
    padding: 6px 15px 6px 30px;
    font-size: 1.1em;
	width: 80%;
	border: solid 1px #bbb;
	outline: none;
	border-radius: 2em;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,.2);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.mobile .searchform .searchfield {
    width: 75%;
}
.searchform .searchfield:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.searchform .searchbutton {
    outline: none;
    padding: 5px 15px;
	border-radius: 20px;
}
.searchform input:focus, .searchform button:hover {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}