.container {
    width: 100%;
    margin: 0 auto;
}

main {
    min-height: 800px;
    background: white;
}

.desktop main > div {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    background: white;
    border-right: 1px solid whitesmoke;
}



a {
    text-decoration: none !important;
}

[data-marked] {
    display: none;
}

.cursor-pointer {
    cursor: pointer !important;
}

.fa {
    margin-left: 0;
    margin-right: 3px;
    width: 1em;
    text-align: center;
}

    .fa.right {
        margin-right: 0;
        margin-left: 3px;
    }

.padding-5px {
    padding: 5px !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.top-0px {
    top: 0px;
}

.bottom-0px {
    bottom: 0px;
}

.left-0px {
    left: 0px;
}

.right-0px {
    right: 0px;
}

.more-less .more-info {
    display: none;
}

.more-less .more {
    display: inline;
}

.more-less .less {
    display: none;
}

.more-less.on .more-info {
    display: inline;
}

.more-less.on .more {
    display: none;
}

.more-less.on .less {
    display: inline;
}
