.slideout-open .slideout-menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    overflow-scrolling: touch;

}

.slideout-open .slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open .slideout-panel {
    overflow: auto;
    position: relative;
}

    .slideout-open .slideout-menu {
        display: block;
    }

    .slideout-open .slideout-menu {
        background-color: #1D1F20;
        background-image: linear-gradient(145deg, #1D1F20, #404348);
        margin-top: 64px;
    }

        .slideout-open .slideout-menu a {
            color: #fff;
        }

        .slideout-open .slideout-menu .menu-section {
            margin: 25px 0;
        }

        .slideout-open .slideout-menu .menu-section-title {
            text-transform: uppercase;
            color: darkgray;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 1px;
            padding: 0 20px;
            margin: 0;
        }

        .slideout-open .slideout-menu .menu-section-list {
            padding: 0;
            margin: 10px 0;
            list-style: none;
        }

            .slideout-open .slideout-menu .menu-section-list a {
                display: block;
                padding: 10px 20px;
            }

                .slideout-open .slideout-menu .menu-section-list a:hover {
                    background-color: #ffffff;
                    background-color: rgba(255, 255, 255, 0.1);
                    text-decoration: none;
                }


.side-menu {
    margin: 0;
    padding: 0px 10px;
    display: table-cell;
    vertical-align: top;
    min-width: 256px;
    background: white;
}

    .side-menu ul {
        list-style: none;
    }

    .side-menu .menu-section {
        margin: 25px 0;
    }

    .side-menu .menu-section-title {
        text-transform: uppercase;
        color: darkgray;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0 20px;
        margin: 0;
    }

    .side-menu .menu-section-list {
        padding: 0;
        margin: 10px 0;
        list-style: none;
    }

        .side-menu .menu-section-list a {
            display: block;
            padding: 10px 20px;
        }

            .side-menu .menu-section-list a:hover {
                background-color: #000000;
                background-color: rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
