@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="header">
        <a href="javascript:history.go(-1)" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            Application Error
        </h1>
    </div>
    <div class="content">
        <p>We're sorry, but a unhandled error occurred on the server. This error has been logged and the Server Administrator has been notified.</p> 
        <p>Please continue on the either clicking the back button and retrying your request or by returning to the <a href="/">home page</a></p>
    </div>
</section>
