@model Paranovels.ViewModels.ChapterDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Title</h1>
<div>
    @foreach (var content in Model.Contents.OrderBy(o => o.Paragraph))
    {

        <p>@content.Final</p>

    }
</div>


