@using Paranovels.Common
@using Paranovels.ViewModels
@using Thi.Core
@model Thi.Core.PagedList<Paranovels.ViewModels.NovelGrid>
@{
    ViewBag.Title = "Novels";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sortedModel = new SortedModel
    {
        Sorted = Request.QueryString["sorted"] ?? "new",
        SortOptions = Model.Data.AsQueryable().SortOptions()
    };
}

<section class="section">
    <div class="header">
        <a href="/" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            @ViewBag.Title
        </h1>
        <a class="action right" href="@Url.Action("Add")"><i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="content">
        @{
            Html.RenderPartial("_Sorted", sortedModel);
        }
    </div>
    @{ Html.RenderPartial("_NovelGridPartial", Model); }
    @Html.Raw(Model.ToPagination(Request.RawUrl, 5))
</section>